<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home-etudiant" style="color:white;">Gestion Etudiant</a>
  <li class="nav-item active">
    <a class="navbar-brand"  (click)="logout()">Se Déconnecter <span class="sr-only">(current)</span></a>
  </li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">

  </div>
</nav>
<div class="container" id="main-container" style="padding-top: 30px;">
  <form class="form-inline my-2 my-lg-0">
    <input type="search" (ngModelChange)="searchEtudiants(key.value)" #key="ngModel" ngModel
    name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search " required>
  </form>
</div>
<!-- <div class="container" id="main-container">
  <h1> justification :</h1>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date debut</th>
          <th scope="col">Date fin</th>
          <th scope="col">description</th>
          <th scope="col">absence</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let justification of justifications">
          <td>{{justification.Date_deb}}</td>
          <td>{{justification.date_fin}}</td>
          <td>{{justification.description}}</td>
          <td>{{justification.absence.id}}</td>
        </tr>
      </tbody>

    </table>
  </div>
</div> -->

<div class="container" id="main-container" style="padding-top: 30px;">
  <div class="row">
    <div *ngFor="let justification of justifications" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="col-6">
              <p class="m-0"><b>Description: </b>{{justification.description}}</p>
             </div>

          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i><b>absence ID : </b>{{justification.absence.id}}</li>
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i><b>Date debut : </b>{{justification.Date_deb}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i><b>Date fin : </b>{{justification.date_fin}}</li>
          </ul>

       </div>
    </div>
  </div>
