<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion Absence</title>
</head>
<body>
  <div class="container">
    <h1>Register User</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="mb-3">
          <label for="exampleInputEmail1">Nom</label>
          <input type="text" formControlName="nom" class="form-control" id="exampleInputEmail1" aria-describedby="Nom">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1">Prenom</label>
          <input type="text" formControlName="prenom" class="form-control" id="exampleInputEmail1" aria-describedby="Prenom">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1">Email </label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1">Numéro</label>
          <input type="text" formControlName="numero" class="form-control" id="exampleInputEmail1" aria-describedby="Prenom">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1">Mot de passe</label>
          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1">Confirmez le mot de passe</label>
          <input type="password" formControlName="confirmPassword" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="mb-3">
        Already a user? &nbsp;
        <a routerLink="/login">
          Login Here
        </a>
      </div>
      <div *ngIf="fc.confirmPassword.touched && fc.confirmPassword.errors?.notMatch" style="color: red;">
        Les mots de passe et confirmer le mot de passe ne sont pas correct.    </div>
    </div>

</body>
</html>


