<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/" style="color:white;">Gestion Etudiant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">

  </div>
</nav>
<div class="container" id="main-container">
  <form class="form-inline my-2 my-lg-0">
    <input type="search" (ngModelChange)="searchEtudiants(key.value)" #key="ngModel" ngModel
    name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search By Groupe..." required>
  </form>
</div>
<div class="container" id="main-container">
  <h1>Gestion des tous les etudiants :</h1>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Heure</th>
          <th scope="col">Etudiant</th>
          <th scope="col">Matiere</th>
          <th scope="col">justification</th>
          <th scope="col">justifie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let absence of absences">
          <td>{{absence.date}}</td>
          <td>{{absence.heure}}</td>
          <td>{{absence.etudiant.nom}}  {{absence.etudiant.prenom}}</td>
          <td>{{absence.matiere.nom}}</td>
          <td>{{absence.justification}}</td>
          <td *ngIf="absence.justification === 'A'">{{ absence.justifie }}</td>
         </tr>
      </tbody>

    </table>
  </div>
</div>
